<% if current_user %>
  <h4>Welcome, <%= current_user.first_name %></h4>
  <button><a href="<%= logout_path %>" class="" data-method="delete">Sign Out</a></button>
<% else %>
  <button><a href="<%= login_path %>" class="">Log In or Sign Up</a></button>
<% end %>
